In [9]:
import pandas as pd

def calculate_demographic_data(print_data=True):

    df = pd.read_csv('adult.data.csv')

    race_count = df['race'].value_counts()

    average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)

    percentage_bachelors = round((df['education'] == 'Bachelors').mean() * 100, 1)

    higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
    higher_education_rich = round((higher_education & (df['salary'] == '>50K')).mean() * 100, 1)

    lower_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
    lower_education_rich = round((lower_education & (df['salary'] == '>50K')).mean() * 100, 1)

    min_work_hours = df['hours-per-week'].min()

    num_min_workers = df[df['hours-per-week'] == min_work_hours]
    rich_percentage = round((num_min_workers['salary'] == '>50K').mean() * 100, 1)

    # Corrected column name from 'native-cuntry' to 'native-country'
    country_stats = df[df['salary'] == '>50K']['native-cuntry'].value_counts(normalize=True) * 100
    
    # Initialize variables for highest earning country to handle cases where country_stats might be empty
    highest_earning_country = None
    highest_earning_country_percentage = 0.0

    if not country_stats.empty:
        highest_earning_country = country_stats.idxmax()
        highest_earning_country_percentage = round(country_stats.max(), 1)

    # Check if there are any Indian entries with salary >50K before calling idxmax
    india_rich_occupations = df[(df['native-country'] == 'India') & 
                                  (df['salary'] == '>50K')]['occupation'].value_counts()
    
    top_IN_occupation = None
    if not india_rich_occupations.empty:
        top_IN_occupation = india_rich_occupations.idxmax()

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage': highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

calculate_demographic_data()

KeyError: 'native-country'

In [6]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,merital-status,occupation,relationship,race,sex,capital-agin,captial-loass,hours-per-week,native-cuntry,salary
0,39.0,State-gov,77516.0,Bechelors,13.0,Never-mirred,Adam-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50k
1,50.0,slef-emp-not-inc,83311.0,Bechelors,13.0,Mired-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50k
2,38.0,private,215646.0,HS-grade,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50k
3,53.0,private,234721.0,11th,7.0,Mired-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50k
4,28.0,private,338409.0,Bechelors,13.0,Mired-civ-spouse,Prof-Specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50k